:root {
    --staex-dark-pacific-blue: rgb(0, 47, 59);
    --staex-golden-yellow: rgb(233, 221, 21);
    --staex-light-pacific-blue: rgb(0, 157, 196);
    --staex-medium-pacific-blue: rgb(0, 86, 104);
    --staex-metallic-gold: rgb(227, 220, 122);
    --staex-pacific-blue: rgb(0, 63, 78);
    --staex-stardust-silver: rgb(228, 233, 242);
    --staex-white: rgb(255, 255, 255);
    --staex-red: rgb(192, 64, 64);
    --staex-green: rgb(120, 185, 143);
    --staex-yellow: rgb(192, 192, 128);
    --staex-gray: rgb(192, 192, 192);
}

html {
    font-family: Roboto, sans;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    color: var(--staex-dark-pacific-blue);
    background-color: var(--staex-white);
    font-size: 14pt;
    line-height: 1.5;
    margin: 4px;
    hyphens: none;
    quotes: '«' '»';
}

main {
    max-width: calc(min(100vw, 1280px));
    margin: 0 auto;
    padding: 0px;
}

p {
    margin: 0px 0px 0.5rem 0px;
}

a {
    text-decoration: underline;
}

a:link,
a:visited,
a:active {
    color: var(--staex-light-pacific-blue);
}

a:hover {
    color: var(--staex-light-pacific-blue);
}

ul,
ol {
    margin: 0;
    padding: 0;
}

pre {
    font-family: 'Roboto Mono', mono;
    font-weight: 300;
    margin-bottom: 0;
}

header {
    background-color: var(--staex-stardust-silver);
    padding: 10px 20px;
    border-radius: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav li a {
    text-decoration: none;
    color: var(--staex-dark-pacific-blue);
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

nav li a:hover {
    border-color: var(--staex-golden-yellow);
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--staex-dark-pacific-blue);
}

input:not([type]),
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='file'],
select,
textarea {
    background: var(--staex-stardust-silver);
    color: var(--staex-dark-pacific-blue);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    margin: 2px;
    max-width: 19rem;
    display: block;
}


button {
    border-radius: 30px;
    padding: 10px 20px;
    background: var(--staex-metallic-gold);
    color: var(--staex-dark-pacific-blue);
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 300;
    font-size: 14pt;
}

button.large {
    border-radius: 60px;
    padding: 20px 40px 20px 40px;
    font-size: 1.5rem;
    display: block;
    width: 100%;
}

button:disabled {
    cursor: default;
}

.success-btn {
    background-color: var(--staex-green) !important;
}

.alert {
    padding: 25px;
    border-radius: 4px;
}

.success {
    color: var(--staex-medium-pacific-blue);
    background-color: var(--staex-green);
}

.warning {
    color: var(--staex-pacific-blue);
    background-color: var(--staex-metallic-gold);
}

.error {
    color: var(--staex-white);
    background-color: var(--staex-red);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 15px var(--staex-stardust-silver);
    font-family: Arial, sans-serif;
}

th,
td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid var(--staex-stardust-silver);
}

th {
    background-color: var(--staex-stardust-silver);
}

tr:nth-child(even) {
    background-color: var(--staex-stardust-silver);
}

tr:hover {
    background-color: var(--staex-metallic-gold);
}

thead tr {
    box-shadow: 0 2px 10px var(--staex-stardust-silver);
}

select {
    width: 100%;
    padding: 16px;
    margin: 0;
    border: 1px solid var(--staex-gray);
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0px 3px 6px var(--staex-stardust-silver);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.mouse-pointer {
    cursor: pointer;
}

.card {
    background-color: var(--staex-white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px 0;
    transition:
        transform 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: var(--staex-pacific-blue);
    color: var(--staex-white);
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 500;
}

.card-content {
    padding: 20px;
    color: var(--staex-dark-pacific-blue);
}

.card-field {
    margin-bottom: 15px;
    font-size: 16px;
}

.card-field:last-child {
    margin-bottom: 0;
}

.card-field-label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-field-value {
    color: var(--staex-medium-pacific-blue);
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form-container select,
.form-container input {
    flex: 1;
    margin: 0 10px;
}

.form-container input {
    flex: 2;
}

.form-container > *:first-child {
    margin-left: 0;
}

.form-container > *:last-child {
    margin-right: 0;
}

.submenu {
    display: none;
    position: absolute;
    background-color: var(--staex-stardust-silver);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
}

.submenu li {
    padding: 10px 20px;
    text-align: left;
}

.submenu li a {
    padding: 10px 20px;
    color: var(--staex-dark-pacific-blue);
    text-decoration: none;
    display: block;
}

.submenu li a:hover {
    background-color: var(--staex-light-pacific-blue);
    color: var(--staex-white);
}

.menu-item:hover .submenu {
    display: block;
}

@media (max-width: 800px) {
    .form-container {
        flex-direction: column;
        align-items: stretch;
    }

    .form-container > * {
        margin: 5px 0 !important;
        width: auto !important;
    }

    .form-container > *:first-child {
        margin-top: 0 !important;
    }

    .form-container > *:last-child {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 950px) {
    .nav-desktop {
        display: none;
    }
}

@media (min-width: 950px) {
    .nav-mobile {
        display: none;
    }
}

.h-scroll-container {
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* To not hide content by horizontal scroll view. */
    padding-bottom: 5px;
}

.loader {
    border: 4px solid var(--staex-stardust-silver);
    border-top: 4px solid var(--staex-dark-pacific-blue);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    box-sizing: unset;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

img, video {
    max-width: calc(min(100vw - 2 * 4px, 1280px));
    border-radius: 4px;
}

.preset-512x512 {
    width: 512px;
    height: auto;
}

.preset-320x320 {
    width: 320px;
    height: auto;
}

.preset-256x256 {
    width: 256px;
    height: auto;
}

.preset-360x240 {
    width: 360px;
    height: auto;
}

.preset-160x160 {
    width: 160px;
    height: auto;
}

.preset-128x128 {
    width: 128px;
    height: auto;
}

.preset-x128 {
    width: auto;
    height: 128px;
}

.preset-64x64 {
    width: 64px;
    height: auto;
}

.preset-x160 {
    width: auto;
    height: 160px;
}

.button-container {
    text-align: center;
    margin: 1rem;
}

.button-link:link,
.button-link:visited,
.button-link:active,
.button-link:hover {
    background: var(--staex-metallic-gold);
    color: var(--staex-dark-pacific-blue);
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    border: none;
    outline: none;
    text-decoration: none;
}

.button-link-large:link,
.button-link-large:visited,
.button-link-large:active,
.button-link-large:hover {
    background: var(--staex-metallic-gold);
    color: var(--staex-dark-pacific-blue);
    border-radius: 60px;
    padding: 10px;
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
    display: block;
}

h1,
h2,
h3 {
    padding: 0;
    font-weight: 500;
    hyphens: none;
    text-align: center;
}

h1 {
    margin: 1.5rem 0 0 0;
    font-size: 2.5rem;
    line-height: 1.25;
}

h2 {
    margin: 1rem 0 0 0;
    font-size: 2rem;
    line-height: 1.25;
}

h3 {
    margin: 0.75rem 0 0 0;
    font-size: 1.5rem;
    line-height: 1.125;
}

iframe {
    max-height: 425px !important;
    min-height: 425px !important;
}

b {
    font-weight: 500;
}
