.cookie {
}

.cookie__bar {
    -ms-overflow-style: none;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 9999;
    width: 100%;
    padding: 20px 20px;
    align-items: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: small;
}

.cookie__bar--bottom {
    bottom: 0;
    left: 0;
    right: 0;
}
.cookie__bar--top {
    top: 0;
    left: 0;
    right: 0;
}
.cookie__bar__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media (min-width: 768px) {
    .cookie__bar__wrap {
        flex-direction: row;
    }
}
.cookie__bar__content {
    margin-right: 0;
    margin-bottom: 20px;
    font-size: small;
    max-height: 103px;
    overflow: auto;
    width: 100%;
    -ms-flex: 1 1 auto;
}
@media (min-width: 768px) {
    .cookie__bar__content {
        margin-right: auto;
        margin-bottom: 0;
    }
}
.cookie__bar__buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}
@media (min-width: 768px) {
    .cookie__bar__buttons {
        flex-direction: row;
        width: auto;
    }
}
.cookie__bar__buttons__button {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    border-radius: 3px;
}
.cookie__bar__buttons__button:hover {
    cursor: pointer;
    text-decoration: none;
}
.cookie__bar__buttons__button--accept {
    -ms-flex: 1 1 auto;
    background-color: var(--staex-stardust-silver);
    color: var(--staex-dark-pacific-blue);
}
.cookie__floating {
    -ms-overflow-style: none;
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    z-index: 9999;
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    font-size: small;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .cookie__floating {
        max-width: 300px;
    }
}
@media (min-width: 768px) {
    .cookie__floating--bottom-left {
        bottom: 20px;
        left: 20px;
        right: auto;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cookie__floating--bottom-right {
        bottom: 20px;
        right: 20px;
        left: auto;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cookie__floating--top-right {
        top: 20px;
        bottom: auto;
        right: 20px;
        left: auto;
        margin: 0 0;
    }
}
@media (min-width: 768px) {
    .cookie__floating--top-left {
        top: 20px;
        bottom: auto;
        right: auto;
        left: 20px;
        margin: 0 0;
    }
}
.cookie__floating__postpone-button {
    display: inline-flex;
    padding: 5px 0 0 20px;
    margin-bottom: -10px;
    margin-right: auto;
}
.cookie__floating__postpone-button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.cookie__floating__content {
    font-size: small;
    margin: 0;
    padding: 4px;
    overflow: auto;
}
.cookie__floating__buttons {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.cookie__floating__buttons__button {
    width: 100%;
    min-height: 40px;
    white-space: nowrap;
    user-select: none;
    padding: 0.375rem 0.75rem;
}
.cookie__floating__buttons__button:hover {
    cursor: pointer;
    text-decoration: none;
}
.cookie__floating__buttons__button--accept {
    -ms-flex: 1 1 auto;
    background-color: var(--staex-stardust-silver);
    color: var(--staex-dark-pacific-blue);
    display: inline-block;
    border-radius: 4px !important;
    border: none !important;
    white-space: normal;
    box-shadow: 0 4px 8px rgba(198, 198, 198, 0.3);
}

.cookie__floating__buttons__button--accept > button {
    background: var(--staex-gray);
    border-radius: 4px !important;
    padding: 4px !important;
}

.slideFromBottom-enter,
.slideFromBottom-leave-to {
    transform: translate(0px, 10em);
}

.slideFromBottom-enter-to,
.slideFromBottom-leave {
    transform: translate(0px, 0px);
}

.slideFromBottom-enter-active {
}

.slideFromBottom-leave-active {
}

.slideFromTop-enter,
.slideFromTop-leave-to {
    transform: translate(0px, -10em);
}

.slideFromTop-enter-to,
.slideFromTop-leave {
    transform: translate(0px, 0px);
}

.slideFromTop-enter-active {
}

.slideFromTop-leave-active {
}

.fade-enter-active,
.fade-leave-active {
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
